.mainHeading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  color: #42a5f5; 
  font-size: 55px;
  text-align: center;
  margin: 20px 0;
  margin-bottom: 90px;
  margin-top: 60px;
  /* line-height: 3em; */
}
.productTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  color: #333; 
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
}

.productPrice {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #888;
  font-size: 1em;
  margin: 5px 0;
  text-align: center;
  margin-bottom:30px;
}
